body {
  font-family: Verdana, sans-serif;
  background: rgb(20, 20, 20);
  color: whitesmoke;
}
button {
  border-radius:3px;
}
#container{
  width: 40%;
  margin:auto;
}
#formContainer > div {
  border:1px dotted purple;
  display:flex;
  flex-direction:column;
}
#listContainer {
  border:1px dotted red;
}
.card {
  border:1px dotted green;
}
